body {

    color: #f7f7f7;
  }

.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
  
.button {
    background-color: #4CAF50; /* Green */
  }
form{
    background-color:rgb(84, 91, 102);
    outline-style : solid;  
    outline-color : rgb(80, 78, 78);
    width : 80%;
  
  } 

  input, label {
    display:block;
}